USE [master]
GO
/****** Object:  Database [ManageAttachement]    Script Date: 3/2/2025 9:59:19 PM ******/
CREATE DATABASE [ManageAttachement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ManageAttachement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ManageAttachement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ManageAttachement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ManageAttachement_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ManageAttachement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ManageAttachement]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/2/2025 9:59:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttachmentTypes]    Script Date: 3/2/2025 9:59:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttachmentTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[InsertDate] [datetime2](7) NULL,
	[IsRemove] [bit] NOT NULL,
	[RemoveDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[Extension] [nvarchar](max) NULL,
 CONSTRAINT [PK_AttachmentTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 3/2/2025 9:59:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[InsertDate] [datetime2](7) NULL,
	[IsRemove] [bit] NOT NULL,
	[RemoveDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileUploads]    Script Date: 3/2/2025 9:59:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileUploads](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[FileContent] [varbinary](max) NOT NULL,
	[AttachmentTypeId] [int] NOT NULL,
	[EntityType] [nvarchar](max) NOT NULL,
	[EntityId] [int] NOT NULL,
	[UploadedBy] [nvarchar](max) NOT NULL,
	[UploadDate] [datetime2](7) NOT NULL,
	[CustomerId] [int] NULL,
	[InsertDate] [datetime2](7) NULL,
	[IsRemove] [bit] NOT NULL,
	[RemoveDate] [datetime2](7) NULL,
	[UpdateDate] [datetime2](7) NULL,
 CONSTRAINT [PK_FileUploads] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250227090247_int', N'9.0.2')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250227095552_addExtension', N'9.0.2')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250227095943_addExtension1', N'9.0.2')
GO
SET IDENTITY_INSERT [dbo].[AttachmentTypes] ON 

INSERT [dbo].[AttachmentTypes] ([Id], [Name], [InsertDate], [IsRemove], [RemoveDate], [UpdateDate], [Extension]) VALUES (1, N'PDF', NULL, 0, NULL, NULL, N'.pdf')
INSERT [dbo].[AttachmentTypes] ([Id], [Name], [InsertDate], [IsRemove], [RemoveDate], [UpdateDate], [Extension]) VALUES (2, N'Image', NULL, 0, NULL, NULL, N'.jpg,.jpeg,.png')
SET IDENTITY_INSERT [dbo].[AttachmentTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [Name], [InsertDate], [IsRemove], [RemoveDate], [UpdateDate]) VALUES (1, N'مشتری نمونه 1', NULL, 0, NULL, NULL)
INSERT [dbo].[Customers] ([Id], [Name], [InsertDate], [IsRemove], [RemoveDate], [UpdateDate]) VALUES (2, N'مشتری نمونه 2', NULL, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[FileUploads] ON 

SET IDENTITY_INSERT [dbo].[FileUploads] OFF
GO
/****** Object:  Index [IX_FileUploads_AttachmentTypeId]    Script Date: 3/2/2025 9:59:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_FileUploads_AttachmentTypeId] ON [dbo].[FileUploads]
(
	[AttachmentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FileUploads_CustomerId]    Script Date: 3/2/2025 9:59:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_FileUploads_CustomerId] ON [dbo].[FileUploads]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AttachmentTypes] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsRemove]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsRemove]
GO
ALTER TABLE [dbo].[FileUploads] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsRemove]
GO
ALTER TABLE [dbo].[FileUploads]  WITH CHECK ADD  CONSTRAINT [FK_FileUploads_AttachmentTypes_AttachmentTypeId] FOREIGN KEY([AttachmentTypeId])
REFERENCES [dbo].[AttachmentTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FileUploads] CHECK CONSTRAINT [FK_FileUploads_AttachmentTypes_AttachmentTypeId]
GO
ALTER TABLE [dbo].[FileUploads]  WITH CHECK ADD  CONSTRAINT [FK_FileUploads_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[FileUploads] CHECK CONSTRAINT [FK_FileUploads_Customers_CustomerId]
GO
USE [master]
GO
